<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.1.118/styles/kendo.common.min.css" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.1.118/styles/kendo.silver.min.css" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.1.118/styles/kendo.mobile.all.min.css" />
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2017.1.118/js/kendo.all.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

@model iWasHere.Domain.DTOs.TouristicObjectiveDTO

@{
    ViewData["Title"] = "AddOrEdit";
}

<style>

    .ticket {
        border-style: solid;
        border-width: 1px;
        border-color: darkcyan;
        padding: 30px;
    }

    .myHeader {
        
        color: black;
        padding: 45px;
        text-align: center;
        font-family: Georgia;
       font-size: 320%;

    }
        input {
    width: 60%;
}
    #myDiv {
        display: grid;
        align-self: center;
        
        /*border: 1px solid #4CAF50*/
    }

    .help-block ul {
        list-style-type: none;
    }

    .validation-summary-errors ul {
        list-style: none;
        padding-left: 0;
    }

    .myvalidation {
        color: red;
</style>
<h1 class="myHeader"> Adauga obiectiv turistic</h1>
<span class="help-block">
    @Html.ValidationSummary(true, "", new { @class = "alert alert-danger myvalidation" })
</span>


@using (Html.BeginForm("Create", "City", FormMethod.Post, new { enctype = "multipart/form-data" }))
{<div id="myDiv">
     <div class="ticket">
         <label>Nume Atractie: </label><br/>

         <input style="size:260px" type="text" asp-for="TouristicObjectiveName" id="nameAttraction" maxlength="200"/>

         <br />
         <br />

         <label>Cod Atractie:</label><br/>
         <input type="text" asp-for="TouristicObjectiveCode" id="nameCode" maxlength="255"/>
         <br />
         <br />

         <label>Descriere:</label><br/>
         <textarea id="txtdescription" rows="5" cols="150" type="text" asp-for="TouristicObjectiveDescription" maxlength="1000"></textarea>    
     </div>
    <br />
    <br />
    <div>
    <label>Are bilet:</label><br/>
    <input type="checkbox" onclick="hidePrice()" asp-for="HasEntry" id="entry" style="text-align:left" />
        </div>
  
    <br />

    <div id="ticket" class="ticket">
        <div style="padding: 30px">
            <br />

            <label id="pricelbl">Pret:</label>
            <input type="text" asp-for="Price" id="price" maxlength="20"/>

        <br />
        <br />

            <label>Selecteaza tipul biletului:</label><br />
            @(Html.Kendo().ComboBoxFor(model => model.DictionaryTicketId)
                   .DataValueField("DictionaryTicketId")
                   .DataTextField("TicketCategory")
                   .HtmlAttributes(new { style = "width:60%", id = "ticketCategory" })
               .Filter("StartsWith")
               .DataSource(source =>
               {
                   source.Read(read =>
                   {
                       read.Action("Read_Ticket_Category", "TouristicObjective");
                   })
                   .ServerFiltering(true);
               })
            )

        <br />
        <br />

            <label>Selecteaza o moneda:</label><br />
            @(Html.Kendo().ComboBoxFor(model => model.CurrencyId)
                  .DataValueField("Id")
                  .DataTextField("Currency")
                  .HtmlAttributes(new { style = "width:60%", id = "ticketCurrency" })
              .Filter("StartsWith")
              .DataSource(source =>
              {
                  source.Read(read =>
                  {
                      read.Action("Read_Currency", "TouristicObjective");
                  })
                  .ServerFiltering(true);
              })
            )

            <br />
            <br />
        </div>
    </div>
    <br/>
<div class="ticket">
    <label>Selecteaza tipul atractiei:</label>
   <p> @(Html.Kendo().ComboBoxFor(model => model.AttractionCategoryId)
               .DataValueField("AttractionCategoryId")
               .DataTextField("AttractionCategoryName")
               .HtmlAttributes(new { style = "width:60%", id = "attraction" })
           .Filter("StartsWith")
           .DataSource(source =>
           {
               source.Read(read =>
               {
                   read.Action("Read_Attraction", "TouristicObjective");
               })
               .ServerFiltering(true);
           })
    )
    </p>
    <br />
    <br />

    <label>Selecteaza sezonul:  </label>
    <p>@(Html.Kendo().ComboBoxFor(model => model.OpenSeasonId)
               .DataValueField("Id")
               
               .DataTextField("Type")
               .HtmlAttributes(new { style = "width:60%", id = "season" })
           .Filter("StartsWith")
           .DataSource(source =>
           {
               source.Read(read =>
               {
                   read.Action("Read_Season", "TouristicObjective");
               })
               .ServerFiltering(true);
           })
    )
    </p>
    <br />
    <br />

    <label>Selecteaza orasul</label>

    <p>@(Html.Kendo().ComboBoxFor(model => model.CityId)
               .DataValueField("cityId")
               .DataTextField("cityName")
               .HtmlAttributes(new { style = "width:60%", id = "city" })
           .Filter("StartsWith")
           .DataSource(source =>
           {
               source.Read(read =>
               {
                   read.Action("Read_City", "TouristicObjective");
               })
               .ServerFiltering(true);
           })
    )
        </p>

    </div>
    <br />
    <br />
    <div class="ticket">
    <label>Longitudine :</label><br/>
    <input type="text" asp-for="Longitude"  maxlength="10"/>

    <br />
    <br />

    <label>Latitudine :</label><br/>
    <input type="text" asp-for="Latitude" maxlength="10"/>
        </div>
    <br />
    <input type="file" name="upload_images" id="imgs" />
    <br />
    <br />
    <p align="center">
        <button type="submit" onClick="checkValue()" id="save" class="btn btn-success" name="submitButton" value="Save"><i class="fas fa-save"></i>&nbsp; Salveaza</button>
        <button type="submit" id="new" class="btn btn-success" name="submitButton" value="Nou"><i class="fas fa-save"></i>&nbsp; Salveaza si Nou</button>
        <a asp-action="Index" class="btn btn-primary">Anuleaza</a>
    </p>
</div>
    <label>Latitudine :</label>
    <input type="text" asp-for="Latitude" />
    <br />
    <br />
        
    @Html.TextBoxFor(model => model.PictureName, new { type = "file", multiple = "multiple", value = "", id = (string)null })
 @*<input asp-for="PictureName" class="forupload" type="file" name="file">*@
    <p align="center">
        <button type="submit" onClick="checkValue()" id="save" class="btn btn-success" name="submitButton" value="Save"><i class="fas fa-save"></i>&nbsp; Salveaza</button>
        <button type="submit" id="new" class="btn btn-success" name="submitButton" value="Nou"><i class="fas fa-save"></i>&nbsp; Salveaza si Nou</button>
        <a asp-action="Index" class="btn btn-primary">Anuleaza</a>
    </p>
</div>
    @Html.HiddenFor(model => model.Unique, new { id = "unique" })
}


<script type="text/javascript">
    window.onload = hidePrice();
    function hidePrice() {
        var checkBox = document.getElementById("entry");
        if (checkBox.checked == true) {
            document.getElementById("ticket").style.display = "block";
        } else {
            document.getElementById("ticket").style.display = "none";
        }
    }
    function checkValue() {
        var objName = document.getElementById("nameCode");
        var unique = 0;
        if (objName.defaultValue != objName.value) {
            unique = 1;
        }
        $('#unique').val(unique);
    }
    function isEmptyOrSpaces(str) {
        return str === null || str.match(/^ *$/) !== null;
    }


</script>

