@model iWasHere.Domain.DTOs.TouristicObjectiveDTO

@{
    ViewData["Title"] = "TouristicObjectiveDetail";
}
<style>

    .myHeader {
        
        padding: 40px;
        text-align: center;
        font-family: Georgia;
       
    }
    #TITLU {
        border-style: none;
        color: black;
        font-size: 80px;
    }
    #input {
         border-style: none;
         font-family:courier;
    }
</style>

<h1 class="myHeader"> Detalii Obiectiv Turistic</h1>
<br />
@using (Html.BeginForm("TouristicObjectiveDetail", "TouristicObjective", FormMethod.Post, new { id = "form" }))
{
<div class="divu_mare">
        <div align="center">
            <input type="text" hidden asp-for="TouristicObjectiveId" id="touristicObjectiveId">
        </div>
    <div class="bordura"> <div style="padding:20px">
        <div class="nume_picture">
            <div class="numeObiectiv" align="center">
                <input class="k-textbox" type="text" asp-for="TouristicObjectiveName" id="TITLU" readonly />

            </div>
            <br />
            @*<div class="show_img">*@
            @foreach (var item in Model.PictureName)
            {
                <img style='max-height:200px' src="/img/@item" />
            }
            @*</div>*@
            <br /><br /><br />
            <input type="text" asp-for="Latitude" hidden id="Latitude" />
            <input type="text" asp-for="Longitude" hidden id="Longitude" />
        </div>
            <div class="cod_obiectiv">
                <label>Cod:</label><input id="input" class="k-textbox" type="text" asp-for="TouristicObjectiveCode" readonly />
            </div> <br />
        <div class="pret">
            Pret:  RON<input id="input" class="k-textbox" type="text" asp-for="Price" readonly />
        </div>
        <br />
        <div class="rating">
            Feedback<br /><input style="text-align:right" id="input" class="k-textbox" type="text" asp-for="Rating" readonly /><i class='fa fa-star'></i>
        </div>
        <div class="categorie_actractie">
            Categorie:<input class="k-textbox" type="text" asp-for="AttractionCategoryName" id="input" readonly />
        </div>
        <br />
        <div class="sezon">
            Sezon:<input id="input" class="k-textbox" type="text" asp-for="Type" readonly />
        </div>
        <br />

        <div class="ora">
            Oras: <b><input id="input" class="k-textbox" type="text" asp-for="cityName" readonly /></b>
        </div>
        <br />
        <div class="tara">
            Tara: <b><input id="input" class="k-textbox" type="text" asp-for="countryName" readonly /></b>
        </div>
        <br />
                           </div> 
     </div><br />
    <div class="bordura" style="padding:20px;">
        <br />
        Descriere:<br /><br />
        <textarea type="text" rows="11" cols="150" asp-for="TouristicObjectiveDescription" style="border:transparent;" readonly> </textarea>
    </div><br />
    <div align="left" class="mapp" id="map"></div>
    <br />
    <div class="bordura">
        <br />
        <h1>Adauga Comentariu</h1>
        <div style="padding:20px">
            <input type="text" hidden asp-for="TouristicObjectiveId" />
            <label>Nume utilizator: </label><input id="feedbackName" asp-for="FeedbackDTO.UserName" type="text" name="feedbackName" value="Anonim" /><br />
            <label>Utilizator logat: </label><input type="checkbox" id="checkBox" asp-action="TouristicObjectiveDetail" asp-controller="TouristicObjective" onclick="myCheckBoxChecked()" /><br />
            <label>Rating: </label><br />

            <div class="rating">
                <span><input type="radio" name="RatingName" id="str10" value="10"><label for="str10"></label></span>
                <span><input type="radio" name="RatingName" id="str9" value="9"><label for="str9"></label></span>
                <span><input type="radio" name="RatingName" id="str8" value="8"><label for="str8"></label></span>
                <span><input type="radio" name="RatingName" id="str7" value="7"><label for="str7"></label></span>
                <span><input type="radio" name="RatingName" id="str6" value="6"><label for="str6"></label></span>
                <span><input type="radio" name="RatingName" id="str5" value="5"><label for="str5"></label></span>
                <span><input type="radio" name="RatingName" id="str4" value="4"><label for="str4"></label></span>
                <span><input type="radio" name="RatingName" id="str3" value="3"><label for="str3"></label></span>
                <span><input type="radio" name="RatingName" id="str2" value="2"><label for="str2"></label></span>
                <span><input type="radio" name="RatingName" id="str1" value="1"><label for="str1"></label></span>
            </div>
            <br /><br />
            <div>
                <label>Titlul comentariului: </label><input asp-for="FeedbackDTO.CommentTitle" id="commentTitle" type="text"><br />
                <label>Descrierea comentariului: </label><input id="commentDesc" type="text" asp-for="FeedbackDTO.Comment"><br />
                <button type="submit" onclick="handleErrorUpdate()" id="btnAdd" name="btn" value="saveFeedback">Salveaza</button>
            </div>

        </div>
    </div>
    <br/>


    @foreach (var feedback in Model.feedbacks)
    {

        <span class="rounded-sm">
            <b>Nume utilizator: </b> @feedback.UserName<br />
            <b>Titlu Comentariu: </b>@feedback.CommentTitle<br />
            <b>Comentariu: </b>@feedback.Comment<br />
            <b>Rating: </b>@feedback.Rating/10<br />
        </span>
        <br />

    }

</div>
   
<style>
    
    .bordura {
        border-style: solid;
        border-width: 1px;
        border-color: darkcyan;
    }
    .mapp {
      
        height: 300px;
        width: 1200px;
       margin:0px auto; 
       display:inline-block;
           border-style: solid;
        border-width: 1px;
        border-color: darkcyan;
    }
    


             .rating {
            float: left;
            width: 350px;
        }

            .rating span {
                float: right;
                position: relative;
            }

                .rating span input {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    opacity: 0;
                }

                .rating span label {
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    text-align: center;
                    color: #FFF;
                    background: #ccc;
                    font-size: 30px;
                    margin-right: 2px;
                    line-height: 30px;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                }

                .rating span:hover ~ span label,
                .rating span:hover label,
                .rating span.checked label,
                .rating span.checked ~ span label {
                    background: #F90;
                    color: #FFF;
                }
        </style>

        <script>
            var map;
            function initMap() {
                debugger;
                var Latitude = parseFloat($("#Latitude").val());
                var Longitude = parseFloat($("#Longitude").val());
                // The location of Uluru
                var uluru = { lat: Latitude, lng: Longitude };
                // The map, centered at Uluru
                var map = new google.maps.Map(
                    document.getElementById('map'), { zoom: 15, center: uluru });
                // The marker, positioned at Uluru
                var marker = new google.maps.Marker({ position: uluru, map: map });
            }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbRIxmMBjKw5IovRx6CF03hU8SDpqxtos&callback=initMap"
                async defer></script>
    }
        <br />
        <br />
<script>
    var map;
    function initMap() {

        var Latitude = parseFloat($("#Latitude").val());
        var Longitude = parseFloat($("#Longitude").val());
        // The location of Uluru
        var uluru = { lat: Latitude, lng: Longitude };
        // The map, centered at Uluru
        var map = new google.maps.Map(
            document.getElementById('map'), { zoom: 15, center: uluru });
        // The marker, positioned at Uluru
        var marker = new google.maps.Marker({ position: uluru, map: map });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbRIxmMBjKw5IovRx6CF03hU8SDpqxtos&callback=initMap"
        async defer></script>
<!--<input type="button" value="Adauga comentariu" onclick="location.href='@Url.Action("AddFeedback", "TouristicObjective")?id='+@Model.TouristicObjectiveId" />-->
   
<script type="text/javascript">

    function isEmptyOrSpaces(str) {
        return str === null || str.match(/^ *$/) !== null;
    }

    function handleErrorUpdate(e) {
        if (isEmptyOrSpaces($('#commentTitle').val())) {
            alert("Trebuie sa introduceti titlul comentariului!")
        }
        if (isEmptyOrSpaces($('#commentDesc').val()))
            alert("Trebuie sa introduceti obligatoriu o descriere!")

    }

    function myCheckBoxChecked() {
        if (document.getElementById('checkBox').checked) {
            $("#feedbackName").val("");
        }
        else {
            $("#feedbackName").val("Anonim");
        }
    }

    function myCheckBox() {
        if (document.getElementById('checkBox').checked) {
            $("#feedbackName").val("");
        }
        else {
            $("#feedbackName").val();
        }
        if (document.getElementById("str1").checked || document.getElementById("str2").checked || document.getElementById("str3").checked
            || document.getElementById("str4").checked || document.getElementById("str5").checked || document.getElementById("str6").checked
            || document.getElementById("str9").checked || document.getElementById("str8").checked || document.getElementById("str9").checked
            || document.getElementById("str10").checked) {
            alert("e bineeeeee")
        } else {
            alert("completeaza rating")
        }
    }

    $(document).ready(function () {
        $(".rating input:radio").attr("checked", false);

        $('.rating input').click(function () {
            $(".rating span").removeClass('checked');
            $(this).parent().addClass('checked');
        });
        $('input:radio').change();
    });
</script>


